/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #ffffff;
  }
  
  h1 {
    font-size: 60px;
    background: #5e7aad;
    color:black;
    text-align:center
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    background-color: aliceblue;

  }

  h3 {
    font-size: 11px;
  }